body {	
	color: #333333;
	font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
	font-size: 90%;
}

.bg1{
	background-color: #F7F7F7;
}

.bg2{
	background-color: #FFFFFF;
}

.bg3{
	background-color: #10486E;
}

.bg4{
	background-color: #EBF0F5;
}

.border{
	border: 1px solid lightgray;
}

.fg1{
	color: #F2EDED;
}

.fg2{
	color: #10486E;
}

.fg3{
	color: #555555;
}

.font-large{
	font-size: 1.5em;
}

.font-medium{
	font-size: 1.35em;
}

