#details-input{
	width: 536px;
}

.experience ul li{
	list-style: circle;
	margin-left: 20px;
	margin-top: 1.25em;
	margin-bottom: 1.25em;
}

.position-title{
	color: inherit;
	text-decoration: none;
}