#nav-menu ul{
	list-style-type:none;
	margin: 0px auto;
	width: 466px;
}

#nav-menu ul li{
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;

	display:inline-block;
	font-size: 2em;
	font-weight: bold;
	margin: 0px 10px;
	padding: 2px 3px;
}

#nav-menu ul li:hover{
	background-color: #E3EBEF;
	color: #10486E;
}

#nav-menu ul li a{
	color: inherit;
	text-decoration: none;
}
