.post-body{
	margin: 1.25em 0;
	text-align: justify;	
}

.post-editor{
	height: 400px;
	width: 600px;
}

.post-title{
	color: inherit;
	text-decoration: none;
	width: 600px;	
}

.post:first-child{
	margin-top: 0px;
}


