.tag-editor{
	border: 1px solid #999999;
	height: 30px;
	padding: 4px 0px 2px;
	position: relative;
	width: 600px;
}

.tag-editor input{
	border: none;
	background-color: transparent;
	margin-top: 3px;
	outline:none;
	position: relative;
}

.post-tag{
	background-color: #E0EAF1;
    border-bottom: 1px solid #3E6D8E;
    border-right: 1px solid #7F9FB6;
    color: #3E6D8E;
	float:left;
	margin: 0px 5px;
	padding: 3px 5px;
}

.tag-options{
	background-color: #FFFFFF;	
	border: 1px solid #999999;
	padding: 10px;
	position: absolute;
	top: 38px;
	z-index: 100;
}

.tag-editor-meta-info{
	background: white;
	font-size: .5em;
	color: gray;
	clear:both;
	font-size: .7em;
}