.skill-page-title{
	margin: 3px 10px;
}

.delete-image-link{
	position: relative;
}

.delete-image-link div{
	float: left;
}

.small-delete-btn{
	background: url(../../resources/images/small-delete.png) no-repeat;
	height: 16px;
	width: 16px;
}