.frame{
	background: yellow;
}

html,body{
	background-color: #F7F7F7;
	overflow:auto;
}

#container{
	border-bottom: 1px solid lightgray;
	border-left: 1px solid lightgray;
	border-right: 1px solid lightgray;
	margin: 0px auto;
	overflow: hidden;
	width: 980px;
}

#inner-container{
	float: left;
	position: relative;
	right: 650px;
}

#header{
	position: relative;
	height: 60px;
}

#nav-menu{
	position: absolute;
	bottom: 5px;
	width:100%;
}

#logo{
	background: url('../images/logo-small.png') no-repeat;
	height: 55px;
	left: 10px;
	position: relative;
	top: 5px;
	width: 190px;
}

#center-panel{
	border-right: 1px solid lightgray;
	float:left;
	min-height: 500px;
	padding: 10px 40px;
	position: relative;
	left: 650px;
	width: 610px;
}

#side-bar{
	float: left;
	padding: 5px;
	position: relative;
	left: 650px;
	width: 279px;
}
